.Carbar {
  min-width: 100%;
  height:80px;
  background: grey;
  overflow: hidden;
}

.road-top {
  box-sizing: border-box;
  /*border-top: 7px dashed yellow;*/
}
.road-bottom {
  box-sizing: border-box;
  border-bottom: 6px dashed yellow;
  height:43px;
}


.Scoot {
  animation: scoot-anim 4s linear infinite;
  /*App-logo-move linear 2.5s,
  App-logo-spin linear 2.5s,*/
  animation-fill-mode: forwards;
  display: inline;
  height: 40px;
  max-height: 40px;
}

@keyframes scoot-anim {
  0% { transform: translateX(110vw); }
  25% { transform: translateX(60vw); }
  100% {
    transform: translateX(-84vw);
  }
  /*https://css-tricks.com/almanac/properties/t/transform/*/
}

.Scoot-right {
   transform: scaleX(-1);
   animation: scoot-right-anim 11s linear infinite;
   /*App-logo-move linear 2.5s,
   App-logo-spin linear 2.5s,*/
   animation-fill-mode: forwards;
   animation-timing-function:ease-in-out;
   display: inline;
   height: 40px;
   max-height: 40px;
}

@keyframes scoot-right-anim {
  0% { transform: translateX(-60vw) scaleX(-1); }
  40% { transform: translateX(-60vw) scaleX(-1); }
  100% {
    transform: translateX(100vw) scaleX(-1);
  }
  /*https://css-tricks.com/almanac/properties/t/transform/*/
}

.Woowoo {
  animation: woowoo-anim 11s linear infinite;
  /*App-logo-move linear 2.5s,
  App-logo-spin linear 2.5s,*/
  animation-fill-mode: forwards;
  animation-timing-function:ease-in;
  height: 35px;
  display: inline;
  padding-bottom: 5px;

}

@keyframes woowoo-anim {
  0% { transform: translateX(-95vw); }
  40% { transform: translateX(-95vw); }
  100% {
    transform: translateX(120vw);
  }
  /*https://css-tricks.com/almanac/properties/t/transform/*/
}


.Boxtruck {
  animation: boxtruck-anim 8s linear infinite;
  /*App-logo-move linear 2.5s,
  App-logo-spin linear 2.5s,*/
  animation-fill-mode: forwards;
  animation-timing-function:ease-out;
  display: inline;
  height: 40px;
  max-height: 40px;
}

@keyframes boxtruck-anim {
  0% { transform: translateX(100vw) scaleX(-1); }
  25% { transform: translateX(100vw) scaleX(-1); }
  100% {
    transform: translateX(-60vw) scaleX(-1);
  }
  /*https://css-tricks.com/almanac/properties/t/transform/*/
}
